.card{
    display: inline-block;
    justify-content: center;
    padding: 20px;
}

#reloadButton{
    margin-top: 0.5%;
    background-color: white;
    color:black;
    border-radius: 12px;
    font-size: 15px;
    display: inline;

}

#buttonPlaceholder {
    margin-left: 100px;
}

#h2ID, #h2number, #h2Exp, #h2Type, #h2UniqueId{
    font-family: 'Trebuchet MS';
    text-align: center;
}